<!DOCTYPE html>
html
    head
        - var page = { title: 'Контакты' }
        include inc/blocks/head.pug
    body
        include inc/blocks/header.pug
        include inc/contacts/content.pug
        include inc/blocks/footer.pug
        include inc/blocks/scripts.pug