<!DOCTYPE html>
html
    head
        - var page = { title: 'Главная' }
        include inc/blocks/head.pug
    body
        include inc/blocks/header.pug
        include inc/index/content.pug
        include inc/blocks/footer.pug
        include inc/blocks/scripts.pug
