<!DOCTYPE html>
html
    head
        - var page = { title: 'Новости' }
        include inc/blocks/head.pug
    body
        include inc/blocks/header.pug
        include inc/news/content.pug
        include inc/blocks/footer.pug
        include inc/blocks/scripts.pug