.page_content
    .container
        .h1.page_title #{page.title}
        ul.breadcrumb
            li
                a(href="#") Главная
            li
                a(href="#") #{page.title}


        .h2.text_center Условия доставки
        .row.delivery_row
            .col
                .text
                    p Мы принимаем <a href="#">заказы на доставку</a> ежедневно с 10:00 до 23:00 в пятницу и субботу до 24:00 через наш сайт, мобильные приложения пиццерия Домино для IOS и Android, по телефонам: МТС +375(29)511-11-10 гор.  8(0212)66-64-82
                    p С момента заказа до момента получения доставки пройдет <a href="#">не более 30 минут</a>, за исключением пиковых нагрузок в выходные и праздничные дни. Спасибо за понимание.
            .col
                .text
                    p <a href="#">Бесплатная доставка</a> осуществляется курьерами ежедневно с 10:00 до 23:00 в пятницу и субботу до 24:00 в пределах города Гомель. <a href="#">Сумма заказа</a> при бесплатной доставке не менее 10 рублей. Доставка комплексных обедов от 2-х штук в будние дни, заказы до 16:00.
                    p Доставка за <a href="#">пределы города</a> Гомель осуществляется на платной основе, согласовывается с диспетчером и возможна при наличии свободных автомобилей

        .delivery_search_header
            .h2.text_center Проверьте входит ли Ваш адрес в зону бесплатной доставки!
            .delivery_search
                .field
                    input(placeholder="Введите ваш адрес")

                button.delivery_btn
                    span Зоны доставки

        .map
            img(src="img/examples/map2.png")





