-var f_menu=['Меню','О нас','Новости','Доставка','Контакты','Акции'];
.footer_menu
    .container
        ul.nav
            for f_menu_item, index in f_menu
                li
                    a(href="#")=f_menu_item
footer
    .container
        .row
            .col.pay
                img(src="img/pay.png")
            .col.unp
                p УНП 491331237
            .col.site_name
                p ООО «Правильная еда»
            .col.address
                p Юридический адрес: 246045, г.Гомель. ул.Каменщикова д.36

